.headerleft img {
  width: 100px;
  height: 25px;
}
.headercontainer {
  background-color: black;
  margin-bottom: 200px;
  height: 65px;
}
.headerinsidecontainer {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
}
.headerleft ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
  list-style: none;
}
.headerleft ul li a {
  align-items: last baseline;
}
.headerright ul {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 500px;
  width: 39%;
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: small;
}
a :hover {
  color: gray;
}
li :hover {
  color: gray;
}
@media screen and (max-width: 576px) {
  .headerinnercontainer {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .headerleft ul li a:not(:first-child) {
    display: none;
  }
  .headerleft ul li a {
    display: none;
  }
  .headercontainer {
    height: 15px;
  }
}
